*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

:root {
    --softer-white: rgba(255, 255, 255, 0.87);
    --soft-white: #f2f2f2;
    --prof-gray: #1a1a1a;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background: linear-gradient(
        180deg,
        #1e3a5f 0%,
        #0f172a 100%
    );
    color: var(--soft-white);
}

.box{
    border: solid var(--softer-white) 3px;
    width: 90vw;
    height: 10vh;
    border-radius: 15px;
    max-width: 670px;
}

/*Top area*/
#search-area{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
}

#search-bar{
    border: 2px var(--softer-white) solid;
    background-color: rgba(0, 0, 0, 0.2);
    width: 15rem;
    height: 2rem;
    color: var(--soft-white);
    padding-left: 0.2rem;
}

#search-bar:focus{
    background-color: rgba(0, 0, 0, 0.4);
}

#search-button{
    height: 2rem;
    padding: 0 1rem;
    font-weight: bold;
}



/*Main area*/
#main-area {
    height: 50vh;
    display: flex;

}

#main-area div{
    border: 1px solid gray;
}

#main-area > div{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*Make all degree symbols relative to their temps to center the temp proper*/
.temp{
    position: relative;
}

.degree-symbol{
    position: absolute;
}

/*Left*/

#name-holder > h1{
    margin-left: 0.5rem;
    font-size: 2rem;
    text-decoration: underline;
}

#symbol-holder{
    flex: 1;
}

/*Center*/
#main-center{
    align-items: center;
}

#temp-holder{
    margin-top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#temp-holder > h1 {
    font-size: 5rem;
    text-align: center;
}

#current-temp{
    position: relative;
}

#high-low-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
}

#high-low-holder > p{
    width: 20%;
    border: 0.5px purple solid;
}

/*Right*/
#main-right{
    gap: 0.5rem;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#main-right > div{
    width: 95%;
    border-radius: 15px;
    flex: 1;
    display: flex;
}

#main-right > div > h3 {
    margin: 0.3rem 0.5rem;
    font-size: .8rem;
    flex: 1;
    text-align: center;
}

#main-right > div > span{
    height: 100%;
    flex: 2;
    font-size: 3.7rem;
    text-align: center;
}

/*Bottom two areas*/
ul{
    list-style: none;
    display: flex;
    gap: 2vw;
    height: 100%;
    padding: 1rem;
}

li {
    border: solid gray 1px;
    flex: 1;
    width: 3rem;
}